@media all and (min-width: 1170px) and (max-width: 2000px) {
   header {
       height: 100vh;
   }
}
@media all and (min-width: 992px) and (max-width: 1170px) {
    header {
        height: 70vh;
        background-image: url(../img/man-2.jpg);
        justify-content: flex-end;
        align-items: baseline;
    }
}
@media all and (max-width: 992px) {
    header {
        height: 50vh;
   }
   .head {
    color: black;
    justify-content: center;
    margin: auto;
    margin-top: 47vh;
   }
